/*Cards Projects*/
.card-container {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;    
    .card {
        background: gainsboro;
        border: transparent;
        border-radius: 1.2em;
        width: 18rem;
        .card-img-top {
            border-radius: 10px;
            padding: 10px;
        }
        .card-body h4 {
            color: $color-highlight;
            font-weight: $fontweight-h1;
        }
        .card-body p {
            font-size:large;
        }
        @media all and (max-width: 767px) {
            .card-body p {
                font-size: medium;
            }
        }
    }
}