@charset "UTF-8";
/*Variables de texto*/
/*Título principal*/
/*Subtítulo principal*/
/*Subtítulo de texto*/
/*Contenido*/
/*Texto botones*/
/*Altura entre líneas de texto*/
/*Grosor letra del contenido*/
/*Grosor letra del título principal*/
/*Grosor letra de subtítulos*/
/*tipo de letra*/
/*Variables de color*/
/*Color de título principal*/
/*Color de texto resaltado*/
/*Color de subtítulos y texto de contenido*/
/*Color de fondo de botones*/
/*Sombra gris de botones*/
/*Sombra de color de botones*/
/*Fondo del Footer*/
/*Sombra de texto*/
/*Sombra de imágenes*/
/*Color header de Index*/
/*Color header de las demás secciones*/
/*Barra de navegación*/
#navbar {
  background-color: transparent !important;
}

#navbar .nav-item {
  font-size: 1.2rem;
  font-weight: 700;
  color: #fff;
  padding-left: 10px;
  padding-right: 10px;
}

#navbar .navbar-toggler {
  color: rgba(255, 255, 255, 0.55);
  border-color: #fff;
  margin: 20px;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show > .nav-link {
  color: #596CAD;
  text-shadow: 4px 4px 7px #969696;
}

@media all and (max-width: 767px) and (min-width: 300px) {
  .navbar-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .navbar-collapse {
    font-size: 0.7em;
    padding-bottom: 200 0px;
  }
}

@media all and (max-width: 990px) and (min-width: 768px) {
  .navbar-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .navbar-collapse {
    font-size: 1.5em;
    padding-top: 50px;
    padding-bottom: 200px;
  }
}

/*Barra de navegación*/
/*Cards Projects*/
.card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-container .card {
  background: gainsboro;
  border: transparent;
  border-radius: 1.2rem;
  width: 18rem;
}

.card-container .card .card-img-top {
  border-radius: 18px;
  padding: 10px;
}

.card-container .card .card-body h4 {
  color: #596CAD;
  font-weight: 800;
  text-align: center;
}

.card-container .card .card-body p {
  font-size: medium;
  line-height: normal;
  padding: 0;
}

@media all and (max-width: 767px) {
  .card-container .card .card-body p {
    font-size: medium;
  }
}

/*Boton index.*/
.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button .btn {
  width: 200px;
  padding: 10px;
  background-color: #7786BB;
  /*Solo color sólido contra la sobra de colores*/
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 28px;
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 3px;
  -webkit-box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
          box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
  /*Sombra gris de botones*/
  position: relative;
}

.button .btn:before {
  content: '';
  position: absolute;
  top: -10%;
  left: -5%;
  width: 110%;
  height: 120%;
  border-radius: 50px;
  z-index: -1;
  background: linear-gradient(45deg, #ffd800, #ff5520, #750cf2, #0cbcf2);
  /*Sombra de color de botones*/
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s;
}

.button .btn::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, #ffd800, #ff5520, #750cf2, #0cbcf2);
  z-index: -2;
  -webkit-filter: blur(10px);
          filter: blur(10px);
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s;
}

.button .btn:hover::before, .button .btn:hover::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.animate__animated.animate__headShake {
  --animate-duration: 2s;
}

/*Botones cards*/
.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button-container {
  width: 200px;
  height: 60px;
  padding: 5px;
  position: relative;
}

.card-button {
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#3e1971), to(#4869ce));
  background: linear-gradient(90deg, #3e1971, #4869ce);
  border: none;
  border-radius: 28px;
  outline: none;
  cursor: pointer;
  z-index: 10;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.card-button a {
  text-decoration: none;
  color: #fff;
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 2px;
}

.card-button:hover {
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.37);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.37);
}

/*Botones cards*/
/*Footer*/
#footer {
  background-color: #808080;
}

#footer .social-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 35px;
}

#footer .social-item .icon {
  width: 30px;
  height: 30px;
  margin: 0px 20px;
  cursor: pointer;
  position: relative;
}

#footer .social-item .icon::before {
  content: "";
  position: absolute;
  bottom: 0;
  opacity: 0;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

#footer .social-item .icon:hover::before {
  opacity: 1;
}

#footer .social-item img {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

#footer .social-item .icon:hover img {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

/*Fin footer*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  color: #000;
  line-height: 2.2;
}

/*Padding entre secciones*/
.height-u-d {
  padding-top: 100px;
  padding-bottom: 100px;
}

/*Links*/
.links a {
  text-decoration: none;
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-weight: 700;
  color: #596CAD;
}

/*títulos*/
h1 {
  font-size: 2.5rem;
  font-weight: 800;
  text-align: center;
}

h2 {
  font-size: 2.2rem;
  font-weight: 700;
  text-align: center;
}

h3 {
  font-weight: 700;
  font-size: 2rem;
  color: #596CAD;
  text-align: center;
}

p {
  padding: 15px;
}

@media all and (max-width: 767px) {
  h1 {
    font-size: 1.7em;
  }
  h3 {
    font-size: 2em;
  }
  body {
    font-size: 1.2em;
    font-weight: 400;
  }
}

/*Fin títulos*/
/*Index header*/
#header {
  width: 100%;
  height: 70vh;
}

#header .head-banner {
  background-image: linear-gradient(120deg, rgba(113, 136, 223, 0.699) 0%, rgba(17, 213, 207, 0.692) 100%), url("../multimedia/fondo.jpg");
  width: 100%;
  height: 70vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  overflow: hidden;
}

#header .header-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-family: "IBM Plex Sans Arabic", sans-serif;
  padding-top: 70px;
}

#header .header-banner {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

@media all and (max-width: 767px) {
  #header .header-text h2 {
    display: none;
  }
}

/*fin Index header*/
/*Seccion 1*/
.section-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-one .text-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-one .text-one h3 {
  text-decoration: none;
  text-align: right;
}

.section-one .picture-one img {
  border-radius: 50%;
  -webkit-box-shadow: 2px 21px 15px -6px #A5A5A5;
          box-shadow: 2px 21px 15px -6px #A5A5A5;
}

.section-one .picture {
  width: 337px;
  height: 327px;
}

@media all and (max-width: 767px) {
  .section-one .text-one h3 {
    text-decoration: none;
    text-align: center;
  }
  .section-one .picture {
    margin-left: 40px;
    width: 267px;
    height: 257px;
  }
}

/*Fin section 1*/
/*# sourceMappingURL=styles.css.map */